pbfhr/reflector/conduction/conduction.fld filter=lfs diff=lfs merge=lfs -text
pbfhr/reflector/meshes/solid.e filter=lfs diff=lfs merge=lfs -text
pbfhr/reflector/meshes/fluid.re2 filter=lfs diff=lfs merge=lfs -text
msfr/steady/sample_output/run_neutronics_out.e filter=lfs diff=lfs merge=lfs -text
msfr/steady/sample_output/run_neutronics_out_ns0.e filter=lfs diff=lfs merge=lfs -text
mrad/mesh/mrad_mesh.e filter=lfs diff=lfs merge=lfs -text
htgr/pbmr400/shared/oecd_pbmr400_tabulated_xs.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/mesh/htr-10-critical-a-rev6.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/mesh/htr-10-full-a-rev3.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/sph/htr-10-Diff-SPH.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/xs/htr-10-XS.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/steady/gold/out-HTR-10-full-Diff-SPH-ARO.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/steady/gold/out_HTR-10_critical.e filter=lfs diff=lfs merge=lfs -text
sfr/vtr/mesh/cyl_plate_3d.e filter=lfs diff=lfs merge=lfs -text
sfr/vtr/mesh/vtr_core.e filter=lfs diff=lfs merge=lfs -text
sfr/vtr/xs/vtr_xs.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/xs/vtr_xs_verification.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/sph/vtr_sph.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/sph/vtr_sph_verification.xml filter=lfs diff=lfs merge=lfs -text
htgr/httf/inputs/3D_HTTF_full_core.e filter=lfs diff=lfs merge=lfs -text
sfr/subchannel/ornl_19_pin/gold/ornl_19_pin_out.e filter=lfs diff=lfs merge=lfs -text
sfr/subchannel/toshiba_37_pin/gold/toshiba_37_pin_out.e filter=lfs diff=lfs merge=lfs -text
