htgr/pbmr400/shared/oecd_pbmr400_tabulated_xs.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/mesh/htr-10-critical-a-rev6.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/mesh/htr-10-full-a-rev3.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/sph/htr-10-Diff-SPH.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/data/xs/htr-10-XS.xml filter=lfs diff=lfs merge=lfs -text
htgr/htr10/steady/gold/out-HTR-10-full-Diff-SPH-ARO.e filter=lfs diff=lfs merge=lfs -text
htgr/htr10/steady/gold/out_HTR-10_critical.e filter=lfs diff=lfs merge=lfs -text
htgr/httf/inputs/3D_HTTF_full_core.e filter=lfs diff=lfs merge=lfs -text
htgr/httr/cross_sections/HTTR_5x5_9MW_equiv_corrected.xml filter=lfs diff=lfs merge=lfs -text
htgr/httr/cross_sections/HTTR_5x5_9MW_profiled_VR_kappa_adjusted.xml filter=lfs diff=lfs merge=lfs -text
htgr/httr/mesh/full_core/full_core_HTTR.e filter=lfs diff=lfs merge=lfs -text
htgr/httr/mesh/full_core/thermal_mesh_in.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/mesh/mrad_mesh.e filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/assembly/MESH/*.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/legacy/mesh/mrad_mesh.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/mesh/gold/HPMR_OneSixth_Core_meshgenerator_tri_rotate_bdry.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/mesh/gold/HPMR_OneSixth_Core_meshgenerator_tri_rotate_bdry_fine.e filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/airjacket/mesh/airjacket.re2 filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/airjacket/restart_airjacket.fld filter=lfs diff=lfs merge=lfs -text
microreactors/drum_rotation/empire_core_modified_11G_CD.xml filter=lfs diff=lfs merge=lfs -text
microreactors/hpmr_h2/cross_sections_library/simba_fmh_b_fine.xml filter=lfs diff=lfs merge=lfs -text
doc/content/media/drum_rotation/transient.mp4 filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/triso_failure/mesh/3D_unit_cell_FY21_simple_YAN_40sectoins_5cm_axial_dist.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/triso_failure/mesh/3D_unit_cell_FY21_simple_YAN_40sectoins_5cm_axial_dist_bison.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/triso_failure/mesh/3D_unit_cell_FY21_simple_YAN_40sections_5cm_axial_dist.e filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/triso_failure/mesh/3D_unit_cell_FY21_simple_YAN_40sections_5cm_axial_dist_bison.e filter=lfs diff=lfs merge=lfs -text
microreactors/KRUSTY/Neutronics/Serpent/krusty_serpent_ANL22_1_1.sss_res.m filter=lfs diff=lfs merge=lfs -text
microreactors/KRUSTY/Neutronics/Serpent/krusty_serpent_ANL_endf70_g22.xml filter=lfs diff=lfs merge=lfs -text
microreactors/KRUSTY/Neutronics/Serp_hbrid_reflector_updated.xml filter=lfs diff=lfs merge=lfs -text
microreactors/KRUSTY/gold/MESH/BISON_mesh.e filter=lfs diff=lfs merge=lfs -text
microreactors/KRUSTY/gold/MESH/Griffin_mesh.e filter=lfs diff=lfs merge=lfs -text
msr/msfr/steady/sample_output/run_neutronics_out.e filter=lfs diff=lfs merge=lfs -text
msr/msfr/steady/sample_output/run_neutronics_out_ns0.e filter=lfs diff=lfs merge=lfs -text
msr/generic_msr/seismic_analysis/mesh/full_structure_with_isolators_new.e filter=lfs diff=lfs merge=lfs -text
msr/lotus/mesh/mcre_mesh.e filter=lfs diff=lfs merge=lfs -text
pbfhr/gFHR/data/gFHR_4g_pebble.xml filter=lfs diff=lfs merge=lfs -text
pbfhr/mark1/reflector/conduction/conduction.fld filter=lfs diff=lfs merge=lfs -text
pbfhr/mark1/reflector/meshes/solid.e filter=lfs diff=lfs merge=lfs -text
pbfhr/mark1/reflector/meshes/fluid.re2 filter=lfs diff=lfs merge=lfs -text
sfr/vtr/mesh/cyl_plate_3d.e filter=lfs diff=lfs merge=lfs -text
sfr/vtr/mesh/vtr_core.e filter=lfs diff=lfs merge=lfs -text
sfr/vtr/xs/vtr_xs.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/xs/vtr_xs_verification.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/sph/vtr_sph.xml filter=lfs diff=lfs merge=lfs -text
sfr/vtr/sph/vtr_sph_verification.xml filter=lfs diff=lfs merge=lfs -text
lfr/7pin_cardinal_demo/LFR9g_P5.xml.tgz filter=lfs diff=lfs merge=lfs -text
lfr/7pin_cardinal_demo/7pin_ic.fld.tgz filter=lfs diff=lfs merge=lfs -text
lfr/7pin_cardinal_demo/7pin.re2.tgz filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/core/Serpent_Model/PART_U901_PF40_R85.inp filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/core/Serpent_Model/PART_U902_PF40_R85.inp filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/core/Serpent_Model/PART_U954_PF25_R25.inp filter=lfs diff=lfs merge=lfs -text
microreactors/gcmr/core/Serpent_Model/PART_U964_PF25_R25.inp filter=lfs diff=lfs merge=lfs -text
microreactors/mrad/Serpent_Model/TRISO_U900_PF40_R100.inp filter=lfs diff=lfs merge=lfs -text
