[submodule "apps/bison"]
	path = apps/bison
	url = git@github.inl.gov:ncrc/bison
[submodule "apps/griffin"]
	path = apps/griffin
	url = git@github.inl.gov:ncrc/griffin
[submodule "apps/pronghorn"]
	path = apps/pronghorn
	url = git@github.inl.gov:ncrc/pronghorn
[submodule "apps/SAM"]
	path = apps/SAM
	url = git@github.inl.gov:ncrc/SAM
[submodule "apps/sockeye"]
	path = apps/sockeye
	url = git@github.inl.gov:ncrc/sockeye
[submodule "apps/dire_wolf"]
	path = apps/dire_wolf
	url = git@github.inl.gov:ncrc/dire_wolf
[submodule "apps/blue_crab"]
	path = apps/blue_crab
	url = git@github.inl.gov:ncrc/blue_crab
[submodule "apps/cardinal"]
	path = apps/cardinal
	url = https://github.com/neams-th-coe/cardinal
[submodule "apps/relap-7"]
	path = apps/relap-7
	url = git@github.inl.gov:ncrc/relap-7.git
[submodule "apps/moose"]
	path = apps/moose
	url = https://github.com/idaholab/moose.git
