Content:
    vtb:
        root_dir: ${ROOT_DIR}/doc/content
    moose:
        root_dir: ${MOOSE_DIR}/framework/doc/content
        content:
            - js/*
            - css/*
            - contrib/**
            - media/**

Renderer:
    type: MooseDocs.base.MaterializeRenderer

Extensions:
    MooseDocs.extensions.navigation:
        name: vtb
        repo: https://github.com/idaholab/virtual_test_bed
        menu:
            Contributing: contributing.md
            Citing: citing.md
    MooseDocs.extensions.appsyntax:
        active: false
    MooseDocs.extensions.acronym:
        acronyms:
            moose: !include ${MOOSE_DIR}/framework/doc/acronyms.yml
            vtb: !include ${ROOT_DIR}/doc/acronyms.yml
    MooseDocs.extensions.analytics:
        active: True
        google_measurement_id: G-QD13S6Z119
    MooseDocs.extensions.tagging:
        active: True
        js_file: index-6fae072b.js
        csv_file: summary.csv
        allowed_keys:
            - tutorials
            - reactor_type
            - reactor
            - geometry
            - simulation_type
            - input_features
            - transient
            - codes_used
            - open_source
            - computing_needs
            - gpu_enabled
            - fiscal_year
            - sponsor
            - institution
