new_T_LPfloor.png filter=lfs diff=lfs merge=lfs -text
new_T_slice_view.png filter=lfs diff=lfs merge=lfs -text
new_averaged_T.png filter=lfs diff=lfs merge=lfs -text
new_averaged_U.png filter=lfs diff=lfs merge=lfs -text
new_grouping.png filter=lfs diff=lfs merge=lfs -text
new_inlet_bc.png filter=lfs diff=lfs merge=lfs -text
