tjunc.co2.tgz filter=lfs diff=lfs merge=lfs -text
tjunc.old.tgz filter=lfs diff=lfs merge=lfs -text
tjunc.re2.tgz filter=lfs diff=lfs merge=lfs -text
solid_hex8.exo filter=lfs diff=lfs merge=lfs -text
